*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    
}
header{
    background-color: #1f4a40;
}
#menu li a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;

}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#navbar .logo{
    width: 70px;
}
#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
#w-btn{
    margin-left: 40px;
    color:#1f4a40;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
}
.obj-width{
    max-width: 1200px;
    margin: auto;
}

#bar{
    color:white;
    display: none;
}
@media (max-width:699px){
      #menu{
        display: block;
        width: 280px;
        height: auto; 
        position:absolute;
        top: 80px;
        right: -100%;
        padding: 3px 0;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
        background-color:white;
        border-radius: 13px;
        opacity: 0;
        transition: all 0.3s ease;
      }
      #menu.active{
        right: 10px;
        opacity: 1;
      }
    
      #menu li a{
        color: #1f4a40;
      }
      #menu li{
        padding: 1rem;
      }
      #bar{
        display: block;
        font-size: 1.7rem;
        cursor: pointer;
      }
      #w-btn{
        margin: 20px 0 0 50px;
        background-color: #1f4a40;
        color: white;
      }
}